{% for level, messages in flash() %}
    {% for message in messages %}
        <span class="flash-message" data-trigger="toast" data-level="{{ level }}">
            {{ message|trans }}
        </span>
    {% endfor %}
{% endfor %}