{% extends 'layout/layout_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6" style='background-image: url({{ asset('img/theme/bg.jpg') }})'>
            <div class="pos-a utils">
                <div class="bgc-white bdrs-50p pos-r" style='width: 120px; height: 120px;'>
                    <img class="pos-a centerXY" src="{{ asset('img/logo.png') }}" alt="">
                </div>
            </div>
        </div>
        <div class="ol-md-6" style='min-width: 320px;'>
            <h4 class="fw-300 c-grey-900 mB-40">Login</h4>
            <form>
                <div class="form-group">
                    <label class="text-normal text-dark">Username</label>
                    <input type="email" class="form-control" placeholder="John Doe">
                </div>
                <div class="form-group">
                    <label class="text-normal text-dark">Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <div class="peers ai-c jc-sb fxw-nw">
                        <div class="peer">
                            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
                                <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                                    <span class="peer peer-greed">Remember Me</span>
                                </label>
                            </div>
                        </div>
                        <div class="peer">
                            <button class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
