<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Build whatever layout you need with our Architect framework.">
    <meta name="msapplication-tap-highlight" content="no">
    <title>{% block title %}Slim Skeleton{% endblock title %}</title>
    <link rel="icon" href="{{ asset('img/favicon.png') }}">

    {% block stylesheets %}
        {% include 'includes/_stylesheets.html.twig' %}
    {% endblock stylesheets %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
    {% block body %}{% endblock body %}

    {% block javascripts %}
        {% include 'includes/_javascripts.html.twig' %}
    {% endblock javascripts %}
</body>
</html>
