{% extends 'layout/layout_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6" style='background-image: url({{ asset('img/theme/bg.jpg') }})'>
            <div class="pos-a utils">
                <div class="bgc-white bdrs-50p pos-r" style='width: 120px; height: 120px;'>
                    <img class="pos-a centerXY" src="{{ asset('img/logo.png') }}" alt="">
                </div>
            </div>
        </div>
        <div class="ol-md-6" style='min-width: 320px;'>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock body %}
