<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev in the hood</title>
</head>
<body>
    <h1>
        <center>
            This is a demo
        </center>

    </h1>
    <img src="{{ asset('img/logo.png') }}">
    <h2>Keep calm</h2>
    <a href="/users">User list</a>
    <div>
        {% block content %}
        {% endblock content %}
    </div>

{% block javascripts %}
    {% include 'includes/_javascripts.html.twig' %}
{% endblock javascripts %}
</body>
</html>
