{% extends 'layout/layout_base.html.twig' %}

{% block body %}
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {% include 'includes/_topbar.html.twig' %}
        <div class="app-main">
            {% include 'includes/_sidebar.html.twig' %}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    {% block content %}
                    {% endblock content %}
                </div>
                {% include 'includes/_footer.html.twig' %}
            </div>
        </div>
    </div>

    {% include 'includes/_flashbag.html.twig' %}
{% endblock body %}
