{% extends 'layout/layout_base.html.twig' %}

{% block body %}
    <aside style="width: 30%; float: left">
        {% include 'includes/_navbar.html.twig' %}
    </aside>
    <section style="width: 70%; float: left">
        <center>
            <h1>This is a demo</h1>
            <img src="{{ asset('img/logo.png') }}">
            <h2>Keep calm</h2>
            {% include 'includes/_flashbag.html.twig' %}
        </center>
    </section>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
{% endblock body %}
