<div class="mb-3 card">
    <div class="card-header">
        {% block panel_head %}{% endblock panel_head %}
        <div class="btn-actions-pane-right actions-icon-btn">
            {% block panel_toolbar %}{% endblock panel_toolbar %}
        </div>
    </div>
    <div class="card-body">
        {% block panel_body %}{% endblock panel_body %}
    </div>
    <div class="d-block text-right card-footer">
        {% block panel_footer %}{% endblock panel_footer %}
    </div>
</div>