{% extends 'layout/layout_backoffice.html.twig' %}

{% block content %}
    {#        <h1>{{ 'messages.greet'|trans({'name': 'twigy'}, 'fr') }}</h1>#}
    <h1>{{ 'messages.greet'|trans({'name': 'twigy'}) }}</h1>

    {% for user in users %}
        <li>
            {{ user.email }}
        </li>
    {% endfor %}
{% endblock content %}